@font-face{
    font-family : 'ubuntu-r';
    src         : url("../../../resources/public/font/Ubuntu-R.ttf") format("truetype");
}
body{
    font-family: 'ubuntu-r';
}
.login-page {
    width: 360px;
    display: block;
    background: #FFFFFF;
    margin: 8% auto;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form {
  position: relative;
  z-index: 1;
  max-width: 360px;
  text-align: center;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
a{
    cursor: pointer;
}
.admin-form{
    display: none;
}
.btn-link{
    cursor: pointer;
    display: block;
    margin-top: 20px;
}
.input-group{
    width: 100%;
}
.input-group-addon{
    width: 14px;
}
.admin-form #eye-open{
    display: none;
}
.admin-form #eye-open:checked + label{
    background: green;
}