@font-face{
    font-family : "ubuntu-r";
    src         : url("font/Ubuntu-R.ttf") format("truetype");
}
body{
    font-family: 'ubuntu-r';
}
.navbar-brand > img{
    height: 100%;
    width: auto;
    display: inline-block;
}
#wrapper{
    margin-top: 55px;
}